In [2]:
import pandas as pd

In [3]:
# Lista de arquivos CSV
arquivos = ['movies_metadata.csv', 'features_r.csv', 'keywords.csv', 'links_small.csv', 'links.csv', 
            'ratings_small.csv', 'ratings.csv', 'credits.csv']

# Carregar os DataFrames
dfs = [pd.read_csv(arquivo, low_memory=False) for arquivo in arquivos]

In [8]:
meta, fea, key, links_small, links, ratings_small, ratings, credits = dfs

In [11]:
# Definir a largura máxima de colunas
pd.set_option('display.max_columns', 200)

# Listas de DataFrames e seus respectivos nomes
dfs = [meta, fea, key, links_small, links, ratings_small, ratings, credits]
names = ["Metadata", "Features", "Keywords", "Links Small", "Links", "Ratings Small", "Ratings", "Credits"]

# Exibir as duas primeiras linhas de cada DataFrame
for df, name in zip(dfs, names):
    print(name + ":")
    display(df.head(2))
    print("\n")

Metadata:

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0

Features:

,tag,item_id,log_IMDB,log_IMDB_nostem,rating_similarity,avg_rating,tag_exists,lsi_tags_75,lsi_imdb_175,tag_prob,targets
0,007,63113,1.753304,2.275424,1.714348,-0.698402,1.332208,2.698529,2.741398,1.290436,5
1,007,63113,1.753304,2.275424,1.714348,-0.698402,1.332208,2.698529,2.741398,1.290436,5

Keywords:

     id                                           keywords
0   862  [{'id': 931, 'name': 'jealousy'}, {'id': 4290,...
1  8844  [{'id': 10090, 'name': 'board game'}, {'id': 1...

Links Small:

   movieId  imdbId  tmdbId
0        1  114709   862.0
1        2  113497  8844.0

Links:

   movieId  imdbId  tmdbId
0        1  114709   862.0
1        2  113497  8844.0

Ratings Small:

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179

Ratings:

   userId  movieId  rating   timestamp
0       1      110     1.0  1425941529
1       1      147     4.5  1425942435

Credits:

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844

In [13]:
# Lista de tuplas contendo o nome do DataFrame e o próprio DataFrame
dataframes = [("Metadata", meta), ("Features", fea), ("Keywords", key), ("Links Small", links_small),
              ("Links", links), ("Ratings Small", ratings_small), ("Ratings", ratings), ("Credits", credits)]

# Iterar sobre as tuplas e exibir o nome do DataFrame, sua forma e suas colunas
_ = [print(f"{name} shape: {df.shape} \n{name} columns: {df.columns.tolist()}\n") for name, df in dataframes]

Metadata shape: (45466, 24)
Metadata columns: ['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id', 'imdb_id', 'original_language', 'original_title', 'overview', 'popularity', 'poster_path', 'production_companies', 'production_countries', 'release_date', 'revenue', 'runtime', 'spoken_languages', 'status', 'tagline', 'title', 'video', 'vote_average', 'vote_count']

Features shape: (51162, 11)
Features columns: ['tag', 'item_id', 'log_IMDB', 'log_IMDB_nostem', 'rating_similarity', 'avg_rating', 'tag_exists', 'lsi_tags_75', 'lsi_imdb_175', 'tag_prob', 'targets']

Keywords shape: (46419, 2)
Keywords columns: ['id', 'keywords']

Links Small shape: (9125, 3)
Links Small columns: ['movieId', 'imdbId', 'tmdbId']

Links shape: (45843, 3)
Links columns: ['movieId', 'imdbId', 'tmdbId']

Ratings Small shape: (100004, 4)
Ratings Small columns: ['userId', 'movieId', 'rating', 'timestamp']

Ratings shape: (26024289, 4)
Ratings columns: ['userId', 'movieId', 'rating', 'timestamp']

Credits shape: (45476, 3)
Credits columns: ['cast', 'crew', 'id']

In [14]:
# Verificar NaNs nas colunas 'id' dos DataFrames antes da conversão
for name, df in [("Metadata", meta), ("Credits", credits), ("Keywords", key)]:
    print(f"NaNs in {name}['id']: ", df['id'].isna().sum())

NaNs in Metadata['id']:  0
NaNs in Credits['id']:  0
NaNs in Keywords['id']:  0

In [15]:
# Remover linhas onde 'id' em meta é NaN
meta.dropna(subset=['id'], inplace=True)

In [16]:
# Converter coluna 'id' para string e depois para int64
meta['id'] = meta['id'].astype(str).str.extract('(\d+)')
credits['id'] = credits['id'].astype(str).str.extract('(\d+)')
key['id'] = key['id'].astype(str).str.extract('(\d+)')

# Mesclar os DataFrames
merged_data = pd.merge(pd.merge(meta, credits, on='id'), key, on='id')

merged_data.head(2)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,cast,crew,keywords
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...","[{'id': 931, 'name': 'jealousy'}, {'id': 4290,..."
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...","[{'id': 10090, 'name': 'board game'}, {'id': 1..."

In [17]:
merged_data.columns = merged_data.columns.str.strip()
merged_data = merged_data.drop(['belongs_to_collection', 'homepage', 'imdb_id', 'poster_path', \
                                'video', 'title', 'status'], axis=1)

In [18]:
# Convertendo a coluna 'id' para int64
merged_data['id'] = merged_data['id'].astype('int64')

# Verificando se há linhas com o mesmo valor de 'id'
duplicated_ids = merged_data[merged_data.duplicated(subset=['id'], keep=False)]
if not duplicated_ids.empty:
    print("Linhas com o mesmo valor de 'id':")
    print(duplicated_ids)
else:
    print("Não há linhas com o mesmo valor de 'id'.")

Linhas com o mesmo valor de 'id':
       adult budget                                             genres  \
676    False      0  [{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...
677    False      0  [{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...
678    False      0  [{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...
679    False      0  [{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...
841    False      0                      [{'id': 18, 'name': 'Drama'}]
...      ...    ...                                                ...
45988  False      0  [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
46427  False      0  [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
46428  False      0  [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
46429  False      0  [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
46430  False      0  [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...

           id original_language                  original_title  \
676    105045                de                 Das Versprechen
677    105045                de                 Das Versprechen
678    105045                de                 Das Versprechen
679    105045                de                 Das Versprechen
841    132641                ja                           Tsuma
...       ...               ...                             ...
45988   12600                ja  劇場版ポケットモンスター セレビィ 時を越えた遭遇（であい）
46427  265189                sv                          Turist
46428  265189                sv                          Turist
46429  265189                sv                          Turist
46430  265189                sv                          Turist

                                                overview popularity  \
676    East-Berlin, 1961, shortly after the erection ...   0.122178
677    East-Berlin, 1961, shortly after the erection ...   0.122178
678    East-Berlin, 1961, shortly after the erection ...   0.122178
679    East-Berlin, 1961, shortly after the erection ...   0.122178
841    Ten years into a marriage, the wife is disappo...   0.096079
...                                                  ...        ...
45988  All your favorite Pokémon characters are back,...   6.080108
46427  While holidaying in the French Alps, a Swedish...  12.165685
46428  While holidaying in the French Alps, a Swedish...  12.165685
46429  While holidaying in the French Alps, a Swedish...  12.165685
46430  While holidaying in the French Alps, a Swedish...  12.165685

                                    production_companies  \
676    [{'name': 'Studio Babelsberg', 'id': 264}, {'n...
677    [{'name': 'Studio Babelsberg', 'id': 264}, {'n...
678    [{'name': 'Studio Babelsberg', 'id': 264}, {'n...
679    [{'name': 'Studio Babelsberg', 'id': 264}, {'n...
841                [{'name': 'Toho Company', 'id': 882}]
...                                                  ...
45988                                                 []
46427  [{'name': 'Motlys', 'id': 2783}, {'name': 'Cop...
46428  [{'name': 'Motlys', 'id': 2783}, {'name': 'Cop...
46429  [{'name': 'Motlys', 'id': 2783}, {'name': 'Cop...
46430  [{'name': 'Motlys', 'id': 2783}, {'name': 'Cop...

                                    production_countries release_date  \
676            [{'iso_3166_1': 'DE', 'name': 'Germany'}]   1995-02-16
677            [{'iso_3166_1': 'DE', 'name': 'Germany'}]   1995-02-16
678            [{'iso_3166_1': 'DE', 'name': 'Germany'}]   1995-02-16
679            [{'iso_3166_1': 'DE', 'name': 'Germany'}]   1995-02-16
841              [{'iso_3166_1': 'JP', 'name': 'Japan'}]   1953-04-29
...                                                  ...          ...
45988  [{'iso_3166_1': 'JP', 'name': 'Japan'}, {'iso_...   2001-07-06
46427  [{'iso_3166_1': 'NO', 'name': 'Norway'}, {'iso...   2014-08-15
46428  [{'iso_3166_1': 'NO', 'name': 'Norway'}, {'iso...   2014-08-15
46429  [{'iso_3166_1': 'NO', 'name': 'Norway'}, {'iso...   2014-08-15
46430  [{'iso_3166_1': 'NO', 'name': 'Norway'}, {'iso...   2014-08-15

          revenue  runtime                                   spoken_languages  \
676           0.0    115.0           [{'iso_639_1': 'de', 'name': 'Deutsch'}]
677           0.0    115.0           [{'iso_639_1': 'de', 'name': 'Deutsch'}]
678           0.0    115.0           [{'iso_639_1': 'de', 'name': 'Deutsch'}]
679           0.0    115.0           [{'iso_639_1': 'de', 'name': 'Deutsch'}]
841           0.0     89.0               [{'iso_639_1': 'ja', 'name': '日本語'}]
...           ...      ...                                                ...
45988  28023563.0     75.0               [{'iso_639_1': 'ja', 'name': '日本語'}]
46427   1359497.0    118.0  [{'iso_639_1': 'fr', 'name': 'Français'}, {'is...
46428   1359497.0    118.0  [{'iso_639_1': 'fr', 'name': 'Français'}, {'is...
46429   1359497.0    118.0  [{'iso_639_1': 'fr', 'name': 'Français'}, {'is...
46430   1359497.0    118.0  [{'iso_639_1': 'fr', 'name': 'Français'}, {'is...

                       tagline  vote_average  vote_count  \
676    A love, a hope, a wall.           5.0         1.0
677    A love, a hope, a wall.           5.0         1.0
678    A love, a hope, a wall.           5.0         1.0
679    A love, a hope, a wall.           5.0         1.0
841                        NaN           0.0         0.0
...                        ...           ...         ...
45988                      NaN           5.7        82.0
46427                      NaN           6.8       255.0
46428                      NaN           6.8       255.0
46429                      NaN           6.8       255.0
46430                      NaN           6.8       255.0

                                                    cast  \
676    [{'cast_id': 5, 'character': 'Sophie II', 'cre...
677    [{'cast_id': 5, 'character': 'Sophie II', 'cre...
678    [{'cast_id': 5, 'character': 'Sophie II', 'cre...
679    [{'cast_id': 5, 'character': 'Sophie II', 'cre...
841    [{'cast_id': 4, 'character': 'Mihoko Nakagawa'...
...                                                  ...
45988  [{'cast_id': 1, 'character': 'Ash Ketchum (voi...
46427  [{'cast_id': 2, 'character': 'Ebba', 'credit_i...
46428  [{'cast_id': 2, 'character': 'Ebba', 'credit_i...
46429  [{'cast_id': 2, 'character': 'Ebba', 'credit_i...
46430  [{'cast_id': 2, 'character': 'Ebba', 'credit_i...

                                                    crew  \
676    [{'credit_id': '52fe4a44c3a36847f81c463f', 'de...
677    [{'credit_id': '52fe4a44c3a36847f81c463f', 'de...
678    [{'credit_id': '52fe4a44c3a36847f81c463f', 'de...
679    [{'credit_id': '52fe4a44c3a36847f81c463f', 'de...
841    [{'credit_id': '52fe4b9ac3a368484e190d25', 'de...
...                                                  ...
45988  [{'credit_id': '52fe45049251416c75048e35', 'de...
46427  [{'credit_id': '534fd1a80e0a267eb6000e32', 'de...
46428  [{'credit_id': '534fd1a80e0a267eb6000e32', 'de...
46429  [{'credit_id': '534fd1a80e0a267eb6000e32', 'de...
46430  [{'credit_id': '534fd1a80e0a267eb6000e32', 'de...

                                                keywords
676    [{'id': 7059, 'name': 'anti-communism'}, {'id'...
677    [{'id': 7059, 'name': 'anti-communism'}, {'id'...
678    [{'id': 7059, 'name': 'anti-communism'}, {'id'...
679    [{'id': 7059, 'name': 'anti-communism'}, {'id'...
841    [{'id': 818, 'name': 'based on novel'}, {'id':...
...                                                  ...
45988  [{'id': 9663, 'name': 'sequel'}, {'id': 11451,...
46427  [{'id': 293, 'name': 'female nudity'}, {'id': ...
46428  [{'id': 293, 'name': 'female nudity'}, {'id': ...
46429  [{'id': 293, 'name': 'female nudity'}, {'id': ...
46430  [{'id': 293, 'name': 'female nudity'}, {'id': ...

[2201 rows x 20 columns]

In [19]:
# Excluir linhas duplicadas com base na coluna 'id'
merged_data.drop_duplicates(subset=['id'], keep='first', inplace=True)

# Verificar se ainda há linhas com o mesmo valor de 'id' (deve imprimir "Não há linhas com o mesmo valor de 'id'.")
duplicated_ids = merged_data[merged_data.duplicated(subset=['id'], keep=False)]
if not duplicated_ids.empty:
    print("Linhas com o mesmo valor de 'id':")
    print(duplicated_ids)
else:
    print("Não há linhas com o mesmo valor de 'id'.")

Não há linhas com o mesmo valor de 'id'.

In [20]:
merged_data.shape

(45432, 20)

In [21]:
# Imprimir os tipos de dados das colunas
print("Tipos de dados das colunas:")
print(merged_data.dtypes)

Tipos de dados das colunas:
adult                    object
budget                   object
genres                   object
id                        int64
original_language        object
original_title           object
overview                 object
popularity               object
production_companies     object
production_countries     object
release_date             object
revenue                 float64
runtime                 float64
spoken_languages         object
tagline                  object
vote_average            float64
vote_count              float64
cast                     object
crew                     object
keywords                 object
dtype: object

In [22]:
# Contar o número de valores únicos em cada coluna
print("Número de valores únicos em cada coluna:")
print(merged_data.nunique())

Número de valores únicos em cada coluna:
adult                       2
budget                   1223
genres                   4066
id                      45432
original_language          89
original_title          43370
overview                44305
popularity              43744
production_companies    22707
production_countries     2390
release_date            17333
revenue                  6863
runtime                   353
spoken_languages         1931
tagline                 20283
vote_average               92
vote_count               1820
cast                    43019
crew                    44662
keywords                25989
dtype: int64

In [23]:
# Colunas categóricas
merged_data[['original_language', 'adult']] = merged_data[['original_language', 'adult']].astype('category')

# Colunas numéricas
num_cols = ['budget', 'popularity', 'revenue', 'runtime']
merged_data[num_cols] = merged_data[num_cols].apply(pd.to_numeric, errors='coerce')

# Coluna de data
merged_data['release_date'] = pd.to_datetime(merged_data['release_date'], errors='coerce')

# Verificar tipos de dados após conversões
print("Tipos de dados das colunas após conversões:")
print(merged_data.dtypes)

Tipos de dados das colunas após conversões:
adult                         category
budget                           int64
genres                          object
id                               int64
original_language             category
original_title                  object
overview                        object
popularity                     float64
production_companies            object
production_countries            object
release_date            datetime64[ns]
revenue                        float64
runtime                        float64
spoken_languages                object
tagline                         object
vote_average                   float64
vote_count                     float64
cast                            object
crew                            object
keywords                        object
dtype: object

In [26]:
merged_data = merged_data.rename(columns={
    'adult': 'adulto',
    'budget': 'orçamento',
    'genres': 'gêneros',
    'id': 'id',
    'original_language': 'idioma_original',
    'original_title': 'título_original',
    'overview': 'visão_geral',
    'popularity': 'popularidade',
    'production_companies': 'empresas_de_produção',
    'production_countries': 'países_de_produção',
    'release_date': 'data_de_lançamento',
    'revenue': 'receita',
    'runtime': 'tempo_de_execução',
    'spoken_languages': 'idiomas_falados',
    'tagline': 'frase_promocional',
    'vote_average': 'voto_médio',
    'vote_count': 'contagem_de_votos',
    'cast': 'elenco',
    'crew': 'equipe',
    'keywords': 'palavras_chave'
})
merged_data.head(1)

,adulto,orçamento,gêneros,id,idioma_original,título_original,visão_geral,popularidade,empresas_de_produção,países_de_produção,data_de_lançamento,receita,tempo_de_execução,idiomas_falados,frase_promocional,voto_médio,contagem_de_votos,elenco,equipe,palavras_chave
0,False,30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",NaN,7.7,5415.0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...","[{'id': 931, 'name': 'jealousy'}, {'id': 4290,..."

In [27]:
valores_unicos_genre = merged_data['gêneros'].unique()
print(valores_unicos_genre)

["[{'id': 16, 'name': 'Animation'}, {'id': 35, 'name': 'Comedy'}, {'id': 10751, 'name': 'Family'}]"
 "[{'id': 12, 'name': 'Adventure'}, {'id': 14, 'name': 'Fantasy'}, {'id': 10751, 'name': 'Family'}]"
 "[{'id': 10749, 'name': 'Romance'}, {'id': 35, 'name': 'Comedy'}]" ...
 "[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name': 'Comedy'}, {'id': 28, 'name': 'Action'}, {'id': 10751, 'name': 'Family'}]"
 "[{'id': 28, 'name': 'Action'}, {'id': 9648, 'name': 'Mystery'}, {'id': 53, 'name': 'Thriller'}, {'id': 27, 'name': 'Horror'}]"
 "[{'id': 10751, 'name': 'Family'}, {'id': 16, 'name': 'Animation'}, {'id': 10749, 'name': 'Romance'}, {'id': 35, 'name': 'Comedy'}]"]

In [28]:
# Importar a biblioteca re
import re

# Definir a função para extrair os gêneros de uma string JSON
def extrair_generos(string):
    return re.findall(r"'name': '(\w+)'", string)

# Aplicar a função para extrair os gêneros de cada linha da coluna 'genres'
merged_data['gêneros'] = merged_data['gêneros'].apply(extrair_generos)

# Exibir os resultados
print(merged_data['gêneros'])

0         [Animation, Comedy, Family]
1        [Adventure, Fantasy, Family]
2                   [Romance, Comedy]
3            [Comedy, Drama, Romance]
4                            [Comedy]
                     ...
46626                 [Drama, Family]
46627                         [Drama]
46628       [Action, Drama, Thriller]
46629                              []
46630                              []
Name: gêneros, Length: 45432, dtype: object

In [30]:
import numpy as np
# Criar as colunas para os gêneros
merged_data[['gênero1', 'gênero2', 'gênero3']] = merged_data['gêneros'].apply(lambda x: pd.Series(x[:3] if len(x) >= 3 else [np.nan] * 3))

# Remover a coluna 'gêneros'
merged_data.drop(['gêneros'], axis=1, inplace=True)

# Exibir os resultados
merged_data.head(1)

,adulto,orçamento,id,idioma_original,título_original,visão_geral,popularidade,empresas_de_produção,países_de_produção,data_de_lançamento,receita,tempo_de_execução,idiomas_falados,frase_promocional,voto_médio,contagem_de_votos,elenco,equipe,palavras_chave,gênero1,gênero2,gênero3
0,False,30000000,862,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",NaN,7.7,5415.0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...","[{'id': 931, 'name': 'jealousy'}, {'id': 4290,...",Animation,Comedy,Family

In [31]:
valores_unicos_genre1 = merged_data['palavras_chave'].unique()
print(valores_unicos_genre1)

["[{'id': 931, 'name': 'jealousy'}, {'id': 4290, 'name': 'toy'}, {'id': 5202, 'name': 'boy'}, {'id': 6054, 'name': 'friendship'}, {'id': 9713, 'name': 'friends'}, {'id': 9823, 'name': 'rivalry'}, {'id': 165503, 'name': 'boy next door'}, {'id': 170722, 'name': 'new toy'}, {'id': 187065, 'name': 'toy comes to life'}]"
 '[{\'id\': 10090, \'name\': \'board game\'}, {\'id\': 10941, \'name\': \'disappearance\'}, {\'id\': 15101, \'name\': "based on children\'s book"}, {\'id\': 33467, \'name\': \'new home\'}, {\'id\': 158086, \'name\': \'recluse\'}, {\'id\': 158091, \'name\': \'giant insect\'}]'
 "[{'id': 1495, 'name': 'fishing'}, {'id': 12392, 'name': 'best friend'}, {'id': 179431, 'name': 'duringcreditsstinger'}, {'id': 208510, 'name': 'old men'}]"
 ... "[{'id': 224180, 'name': 'blair witch'}]"
 "[{'id': 616, 'name': 'witch'}, {'id': 2035, 'name': 'mythology'}, {'id': 3754, 'name': 'legend'}, {'id': 10714, 'name': 'serial killer'}, {'id': 11800, 'name': 'mockumentary'}]"
 "[{'id': 2679, 'name': 'artist'}, {'id': 14531, 'name': 'play'}, {'id': 215397, 'name': 'pinoy'}]"]

In [32]:
merged_data2 = merged_data.copy()

In [33]:
import ast

# Aplicar a função para extrair as palavras principais e separá-las por '/' em cada linha da coluna 'palavras_chave' em merged_data2
merged_data2['palavras_chave'] = merged_data2['palavras_chave'].apply(lambda x: ' / '.join([keyword['name'] for keyword in ast.literal_eval(x)]) if pd.notnull(x) else x)

# Exibir os resultados
print(merged_data2['palavras_chave'])

0        jealousy / toy / boy / friendship / friends / ...
1        board game / disappearance / based on children...
2        fishing / best friend / duringcreditsstinger /...
3        based on novel / interracial relationship / si...
4        baby / midlife crisis / confidence / aging / d...
                               ...
46626                                          tragic love
46627                                artist / play / pinoy
46628
46629
46630
Name: palavras_chave, Length: 45432, dtype: object

In [34]:
merged_data2 = merged_data2.drop(['idiomas_falados'], axis=1)

In [35]:
print(merged_data2['elenco'].head(1).unique())

["[{'cast_id': 14, 'character': 'Woody (voice)', 'credit_id': '52fe4284c3a36847f8024f95', 'gender': 2, 'id': 31, 'name': 'Tom Hanks', 'order': 0, 'profile_path': '/pQFoyx7rp09CJTAb932F2g8Nlho.jpg'}, {'cast_id': 15, 'character': 'Buzz Lightyear (voice)', 'credit_id': '52fe4284c3a36847f8024f99', 'gender': 2, 'id': 12898, 'name': 'Tim Allen', 'order': 1, 'profile_path': '/uX2xVf6pMmPepxnvFWyBtjexzgY.jpg'}, {'cast_id': 16, 'character': 'Mr. Potato Head (voice)', 'credit_id': '52fe4284c3a36847f8024f9d', 'gender': 2, 'id': 7167, 'name': 'Don Rickles', 'order': 2, 'profile_path': '/h5BcaDMPRVLHLDzbQavec4xfSdt.jpg'}, {'cast_id': 17, 'character': 'Slinky Dog (voice)', 'credit_id': '52fe4284c3a36847f8024fa1', 'gender': 2, 'id': 12899, 'name': 'Jim Varney', 'order': 3, 'profile_path': '/eIo2jVVXYgjDtaHoF19Ll9vtW7h.jpg'}, {'cast_id': 18, 'character': 'Rex (voice)', 'credit_id': '52fe4284c3a36847f8024fa5', 'gender': 2, 'id': 12900, 'name': 'Wallace Shawn', 'order': 4, 'profile_path': '/oGE6JqPP2xH4tNORKNqxbNPYi7u.jpg'}, {'cast_id': 19, 'character': 'Hamm (voice)', 'credit_id': '52fe4284c3a36847f8024fa9', 'gender': 2, 'id': 7907, 'name': 'John Ratzenberger', 'order': 5, 'profile_path': '/yGechiKWL6TJDfVE2KPSJYqdMsY.jpg'}, {'cast_id': 20, 'character': 'Bo Peep (voice)', 'credit_id': '52fe4284c3a36847f8024fad', 'gender': 1, 'id': 8873, 'name': 'Annie Potts', 'order': 6, 'profile_path': '/eryXT84RL41jHSJcMy4kS3u9y6w.jpg'}, {'cast_id': 26, 'character': 'Andy (voice)', 'credit_id': '52fe4284c3a36847f8024fc1', 'gender': 0, 'id': 1116442, 'name': 'John Morris', 'order': 7, 'profile_path': '/vYGyvK4LzeaUCoNSHtsuqJUY15M.jpg'}, {'cast_id': 22, 'character': 'Sid (voice)', 'credit_id': '52fe4284c3a36847f8024fb1', 'gender': 2, 'id': 12901, 'name': 'Erik von Detten', 'order': 8, 'profile_path': '/twnF1ZaJ1FUNUuo6xLXwcxjayBE.jpg'}, {'cast_id': 23, 'character': 'Mrs. Davis (voice)', 'credit_id': '52fe4284c3a36847f8024fb5', 'gender': 1, 'id': 12133, 'name': 'Laurie Metcalf', 'order': 9, 'profile_path': '/unMMIT60eoBM2sN2nyR7EZ2BvvD.jpg'}, {'cast_id': 24, 'character': 'Sergeant (voice)', 'credit_id': '52fe4284c3a36847f8024fb9', 'gender': 2, 'id': 8655, 'name': 'R. Lee Ermey', 'order': 10, 'profile_path': '/r8GBqFBjypLUP9VVqDqfZ7wYbSs.jpg'}, {'cast_id': 25, 'character': 'Hannah (voice)', 'credit_id': '52fe4284c3a36847f8024fbd', 'gender': 1, 'id': 12903, 'name': 'Sarah Freeman', 'order': 11, 'profile_path': None}, {'cast_id': 27, 'character': 'TV Announcer (voice)', 'credit_id': '52fe4284c3a36847f8024fc5', 'gender': 2, 'id': 37221, 'name': 'Penn Jillette', 'order': 12, 'profile_path': '/zmAaXUdx12NRsssgHbk1T31j2x9.jpg'}]"]

In [36]:
# Converter a string de volta para uma lista de dicionários e extrair os nomes com seus respectivos personagens
merged_data2['Elenco'] = merged_data2['elenco'].apply(lambda x: "; ".join([f"{item['name']} como {item['character']}" for item in ast.literal_eval(x)]) if pd.notna(x) else "")

# Exibir o DataFrame resultante para as 10 primeiras linhas
display(merged_data2[['elenco', 'Elenco']].head(10))

,elenco,Elenco
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...",Tom Hanks como Woody (voice); Tim Allen como B...
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...",Robin Williams como Alan Parrish; Jonathan Hyd...
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...",Walter Matthau como Max Goldman; Jack Lemmon c...
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...",Whitney Houston como Savannah 'Vannah' Jackson...
4,"[{'cast_id': 1, 'character': 'George Banks', '...",Steve Martin como George Banks; Diane Keaton c...
5,"[{'cast_id': 25, 'character': 'Lt. Vincent Han...",Al Pacino como Lt. Vincent Hanna; Robert De Ni...
6,"[{'cast_id': 1, 'character': 'Linus Larrabee',...",Harrison Ford como Linus Larrabee; Julia Ormon...
7,"[{'cast_id': 2, 'character': 'Tom Sawyer', 'cr...",Jonathan Taylor Thomas como Tom Sawyer; Brad R...
8,"[{'cast_id': 1, 'character': 'Darren Francis T...",Jean-Claude Van Damme como Darren Francis Thom...
9,"[{'cast_id': 1, 'character': 'James Bond', 'cr...",Pierce Brosnan como James Bond; Sean Bean como...

In [37]:
print(merged_data2['equipe'].head(3).unique())

['[{\'credit_id\': \'52fe4284c3a36847f8024f49\', \'department\': \'Directing\', \'gender\': 2, \'id\': 7879, \'job\': \'Director\', \'name\': \'John Lasseter\', \'profile_path\': \'/7EdqiNbr4FRjIhKHyPPdFfEEEFG.jpg\'}, {\'credit_id\': \'52fe4284c3a36847f8024f4f\', \'department\': \'Writing\', \'gender\': 2, \'id\': 12891, \'job\': \'Screenplay\', \'name\': \'Joss Whedon\', \'profile_path\': \'/dTiVsuaTVTeGmvkhcyJvKp2A5kr.jpg\'}, {\'credit_id\': \'52fe4284c3a36847f8024f55\', \'department\': \'Writing\', \'gender\': 2, \'id\': 7, \'job\': \'Screenplay\', \'name\': \'Andrew Stanton\', \'profile_path\': \'/pvQWsu0qc8JFQhMVJkTHuexUAa1.jpg\'}, {\'credit_id\': \'52fe4284c3a36847f8024f5b\', \'department\': \'Writing\', \'gender\': 2, \'id\': 12892, \'job\': \'Screenplay\', \'name\': \'Joel Cohen\', \'profile_path\': \'/dAubAiZcvKFbboWlj7oXOkZnTSu.jpg\'}, {\'credit_id\': \'52fe4284c3a36847f8024f61\', \'department\': \'Writing\', \'gender\': 0, \'id\': 12893, \'job\': \'Screenplay\', \'name\': \'Alec Sokolow\', \'profile_path\': \'/v79vlRYi94BZUQnkkyznbGUZLjT.jpg\'}, {\'credit_id\': \'52fe4284c3a36847f8024f67\', \'department\': \'Production\', \'gender\': 1, \'id\': 12894, \'job\': \'Producer\', \'name\': \'Bonnie Arnold\', \'profile_path\': None}, {\'credit_id\': \'52fe4284c3a36847f8024f6d\', \'department\': \'Production\', \'gender\': 0, \'id\': 12895, \'job\': \'Executive Producer\', \'name\': \'Ed Catmull\', \'profile_path\': None}, {\'credit_id\': \'52fe4284c3a36847f8024f73\', \'department\': \'Production\', \'gender\': 2, \'id\': 12896, \'job\': \'Producer\', \'name\': \'Ralph Guggenheim\', \'profile_path\': None}, {\'credit_id\': \'52fe4284c3a36847f8024f79\', \'department\': \'Production\', \'gender\': 2, \'id\': 12897, \'job\': \'Executive Producer\', \'name\': \'Steve Jobs\', \'profile_path\': \'/mOMP3SwD5qWQSR0ldCIByd3guTV.jpg\'}, {\'credit_id\': \'52fe4284c3a36847f8024f8b\', \'department\': \'Editing\', \'gender\': 2, \'id\': 8, \'job\': \'Editor\', \'name\': \'Lee Unkrich\', \'profile_path\': \'/bdTCCXjgOV3YyaNmLGYGOxFQMOc.jpg\'}, {\'credit_id\': \'52fe4284c3a36847f8024f91\', \'department\': \'Art\', \'gender\': 2, \'id\': 7883, \'job\': \'Art Direction\', \'name\': \'Ralph Eggleston\', \'profile_path\': \'/uUfcGKDsKO1aROMpXRs67Hn6RvR.jpg\'}, {\'credit_id\': \'598331bf925141421201044b\', \'department\': \'Editing\', \'gender\': 2, \'id\': 1168870, \'job\': \'Editor\', \'name\': \'Robert Gordon\', \'profile_path\': None}, {\'credit_id\': \'5892168cc3a36809660095f9\', \'department\': \'Sound\', \'gender\': 0, \'id\': 1552883, \'job\': \'Foley Editor\', \'name\': \'Mary Helen Leasman\', \'profile_path\': None}, {\'credit_id\': \'5531824d9251415289000945\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1453514, \'job\': \'Animation\', \'name\': \'Kim Blanchette\', \'profile_path\': None}, {\'credit_id\': \'589215969251412dcb009bf6\', \'department\': \'Sound\', \'gender\': 0, \'id\': 1414182, \'job\': \'ADR Editor\', \'name\': \'Marilyn McCoppen\', \'profile_path\': None}, {\'credit_id\': \'589217099251412dc500a018\', \'department\': \'Sound\', \'gender\': 2, \'id\': 7885, \'job\': \'Orchestrator\', \'name\': \'Randy Newman\', \'profile_path\': \'/w0JzfoiM25nrnxYOzosPHRq6mlE.jpg\'}, {\'credit_id\': \'5693e6b29251417b0e0000e3\', \'department\': \'Editing\', \'gender\': 0, \'id\': 1429549, \'job\': \'Color Timer\', \'name\': \'Dale E. Grahn\', \'profile_path\': None}, {\'credit_id\': \'572e2522c3a36869e6001a9c\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 7949, \'job\': \'CG Painter\', \'name\': \'Robin Cooper\', \'profile_path\': None}, {\'credit_id\': \'574f12309251415ca1000012\', \'department\': \'Writing\', \'gender\': 2, \'id\': 7879, \'job\': \'Original Story\', \'name\': \'John Lasseter\', \'profile_path\': \'/7EdqiNbr4FRjIhKHyPPdFfEEEFG.jpg\'}, {\'credit_id\': \'574f1240c3a3682e7300001c\', \'department\': \'Writing\', \'gender\': 2, \'id\': 12890, \'job\': \'Original Story\', \'name\': \'Pete Docter\', \'profile_path\': \'/r6ngPgnReA3RHmKjmSoVsc6Awjp.jpg\'}, {\'credit_id\': \'574f12519251415c92000015\', \'department\': \'Writing\', \'gender\': 0, \'id\': 7911, \'job\': \'Original Story\', \'name\': \'Joe Ranft\', \'profile_path\': \'/f1BoWC2JbCcfP1e5hKfGsxkHzVU.jpg\'}, {\'credit_id\': \'574f12cec3a3682e82000022\', \'department\': \'Crew\', \'gender\': 0, \'id\': 1629419, \'job\': \'Post Production Supervisor\', \'name\': \'Patsy Bouge\', \'profile_path\': None}, {\'credit_id\': \'574f14f19251415ca1000082\', \'department\': \'Art\', \'gender\': 0, \'id\': 7961, \'job\': \'Sculptor\', \'name\': \'Norm DeCarlo\', \'profile_path\': None}, {\'credit_id\': \'5751ae4bc3a3683772002b7f\', \'department\': \'Visual Effects\', \'gender\': 2, \'id\': 12905, \'job\': \'Animation Director\', \'name\': \'Ash Brannon\', \'profile_path\': \'/6ueWgPEEBHvS3De2BHYQnYjRTig.jpg\'}, {\'credit_id\': \'5891edbe9251412dc5007cd6\', \'department\': \'Sound\', \'gender\': 2, \'id\': 7885, \'job\': \'Music\', \'name\': \'Randy Newman\', \'profile_path\': \'/w0JzfoiM25nrnxYOzosPHRq6mlE.jpg\'}, {\'credit_id\': \'589213d39251412dc8009832\', \'department\': \'Directing\', \'gender\': 0, \'id\': 1748707, \'job\': \'Layout\', \'name\': \'Roman Figun\', \'profile_path\': None}, {\'credit_id\': \'5892173dc3a3680968009351\', \'department\': \'Sound\', \'gender\': 2, \'id\': 4949, \'job\': \'Orchestrator\', \'name\': \'Don Davis\', \'profile_path\': None}, {\'credit_id\': \'589217cec3a3686b0a0052ba\', \'department\': \'Sound\', \'gender\': 0, \'id\': 1372885, \'job\': \'Music Editor\', \'name\': \'James Flamberg\', \'profile_path\': None}, {\'credit_id\': \'58921831c3a3686348004a64\', \'department\': \'Editing\', \'gender\': 0, \'id\': 1739962, \'job\': \'Negative Cutter\', \'name\': \'Mary Beth Smith\', \'profile_path\': None}, {\'credit_id\': \'58921838c3a36809700096c0\', \'department\': \'Editing\', \'gender\': 0, \'id\': 1748513, \'job\': \'Negative Cutter\', \'name\': \'Rick Mackay\', \'profile_path\': None}, {\'credit_id\': \'589218429251412dd1009d1b\', \'department\': \'Art\', \'gender\': 0, \'id\': 1458006, \'job\': \'Title Designer\', \'name\': \'Susan Bradley\', \'profile_path\': None}, {\'credit_id\': \'5891ed99c3a3680966007670\', \'department\': \'Crew\', \'gender\': 0, \'id\': 1748557, \'job\': \'Supervising Technical Director\', \'name\': \'William Reeves\', \'profile_path\': None}, {\'credit_id\': \'5891edcec3a3686b0a002eb2\', \'department\': \'Sound\', \'gender\': 2, \'id\': 7885, \'job\': \'Songs\', \'name\': \'Randy Newman\', \'profile_path\': \'/w0JzfoiM25nrnxYOzosPHRq6mlE.jpg\'}, {\'credit_id\': \'5891edf9c3a36809700075e6\', \'department\': \'Writing\', \'gender\': 2, \'id\': 7, \'job\': \'Original Story\', \'name\': \'Andrew Stanton\', \'profile_path\': \'/pvQWsu0qc8JFQhMVJkTHuexUAa1.jpg\'}, {\'credit_id\': \'58920f0b9251412dd7009104\', \'department\': \'Crew\', \'gender\': 2, \'id\': 12890, \'job\': \'Supervising Animator\', \'name\': \'Pete Docter\', \'profile_path\': \'/r6ngPgnReA3RHmKjmSoVsc6Awjp.jpg\'}, {\'credit_id\': \'58920f1fc3a3680977009021\', \'department\': \'Sound\', \'gender\': 2, \'id\': 2216, \'job\': \'Sound Designer\', \'name\': \'Gary Rydstrom\', \'profile_path\': \'/jZpr1nVfO7lldWI0YtmP1FGw7Rj.jpg\'}, {\'credit_id\': \'58920f389251412dd700912d\', \'department\': \'Production\', \'gender\': 0, \'id\': 12909, \'job\': \'Production Supervisor\', \'name\': \'Karen Robert Jackson\', \'profile_path\': None}, {\'credit_id\': \'58920fbd9251412dcb00969c\', \'department\': \'Crew\', \'gender\': 0, \'id\': 953331, \'job\': \'Executive Music Producer\', \'name\': \'Chris Montan\', \'profile_path\': None}, {\'credit_id\': \'589210069251412dd7009219\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 7893, \'job\': \'Animation Director\', \'name\': \'Rich Quade\', \'profile_path\': None}, {\'credit_id\': \'589210329251412dcd00943b\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 8025, \'job\': \'Animation\', \'name\': \'Michael Berenstein\', \'profile_path\': None}, {\'credit_id\': \'5892103bc3a368096a009180\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 78009, \'job\': \'Animation\', \'name\': \'Colin Brady\', \'profile_path\': None}, {\'credit_id\': \'5892105dc3a3680968008db2\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1748682, \'job\': \'Animation\', \'name\': \'Davey Crockett Feiten\', \'profile_path\': None}, {\'credit_id\': \'589210669251412dcd009466\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1454030, \'job\': \'Animation\', \'name\': \'Angie Glocka\', \'profile_path\': None}, {\'credit_id\': \'5892107c9251412dd1009613\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1748683, \'job\': \'Animation\', \'name\': \'Rex Grignon\', \'profile_path\': None}, {\'credit_id\': \'5892108ac3a3680973008d3f\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1748684, \'job\': \'Animation\', \'name\': \'Tom K. Gurney\', \'profile_path\': None}, {\'credit_id\': \'58921093c3a3686348004477\', \'department\': \'Visual Effects\', \'gender\': 2, \'id\': 8029, \'job\': \'Animation\', \'name\': \'Jimmy Hayward\', \'profile_path\': \'/lTDRpudEY7BDwTefXbXzMlmb0ui.jpg\'}, {\'credit_id\': \'5892109b9251412dcd0094b0\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1426773, \'job\': \'Animation\', \'name\': \'Hal T. Hickel\', \'profile_path\': None}, {\'credit_id\': \'589210a29251412dc5009a29\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 8035, \'job\': \'Animation\', \'name\': \'Karen Kiser\', \'profile_path\': None}, {\'credit_id\': \'589210ccc3a3680977009191\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1748688, \'job\': \'Animation\', \'name\': \'Anthony B. LaMolinara\', \'profile_path\': None}, {\'credit_id\': \'589210d7c3a3686b0a004c1f\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 587314, \'job\': \'Animation\', \'name\': \'Guionne Leroy\', \'profile_path\': None}, {\'credit_id\': \'589210e1c3a36809770091a7\', \'department\': \'Visual Effects\', \'gender\': 2, \'id\': 7918, \'job\': \'Animation\', \'name\': \'Bud Luckey\', \'profile_path\': \'/pcCh7G19FKMNijmPQg1PMH1btic.jpg\'}, {\'credit_id\': \'589210ee9251412dc200978a\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1748689, \'job\': \'Animation\', \'name\': \'Les Major\', \'profile_path\': None}, {\'credit_id\': \'589210fa9251412dc8009595\', \'department\': \'Visual Effects\', \'gender\': 2, \'id\': 7892, \'job\': \'Animation\', \'name\': \'Glenn McQueen\', \'profile_path\': None}, {\'credit_id\': \'589211029251412dc8009598\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 555795, \'job\': \'Animation\', \'name\': \'Mark Oftedal\', \'profile_path\': None}, {\'credit_id\': \'5892110b9251412dc800959d\', \'department\': \'Visual Effects\', \'gender\': 2, \'id\': 7882, \'job\': \'Animation\', \'name\': \'Jeff Pidgeon\', \'profile_path\': \'/yLddkg5HcgbJg00cS13GVBnP0HY.jpg\'}, {\'credit_id\': \'58921113c3a36863480044e4\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 8017, \'job\': \'Animation\', \'name\': \'Jeff Pratt\', \'profile_path\': None}, {\'credit_id\': \'5892111c9251412dcb0097e9\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1184140, \'job\': \'Animation\', \'name\': \'Steve Rabatich\', \'profile_path\': None}, {\'credit_id\': \'58921123c3a36809700090f6\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 8049, \'job\': \'Animation\', \'name\': \'Roger Rose\', \'profile_path\': None}, {\'credit_id\': \'5892112b9251412dcb0097fb\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1509559, \'job\': \'Animation\', \'name\': \'Steve Segal\', \'profile_path\': None}, {\'credit_id\': \'589211349251412dc80095c3\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1748691, \'job\': \'Animation\', \'name\': \'Doug Sheppeck\', \'profile_path\': None}, {\'credit_id\': \'5892113cc3a3680970009106\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 8050, \'job\': \'Animation\', \'name\': \'Alan Sperling\', \'profile_path\': None}, {\'credit_id\': \'58921148c3a3686b0a004c99\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 8010, \'job\': \'Animation\', \'name\': \'Doug Sweetland\', \'profile_path\': None}, {\'credit_id\': \'58921150c3a3680966009125\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 8044, \'job\': \'Animation\', \'name\': \'David Tart\', \'profile_path\': None}, {\'credit_id\': \'589211629251412dc5009b00\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1454034, \'job\': \'Animation\', \'name\': \'Ken Willard\', \'profile_path\': None}, {\'credit_id\': \'589211c1c3a3686b0a004d28\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 7887, \'job\': \'Visual Effects Supervisor\', \'name\': \'Thomas Porter\', \'profile_path\': None}, {\'credit_id\': \'589211d4c3a3680968008ed9\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1406878, \'job\': \'Visual Effects\', \'name\': \'Mark Thomas Henne\', \'profile_path\': None}, {\'credit_id\': \'589211f59251412dd4008e65\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1748698, \'job\': \'Visual Effects\', \'name\': \'Oren Jacob\', \'profile_path\': None}, {\'credit_id\': \'58921242c3a368096a00939b\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1748699, \'job\': \'Visual Effects\', \'name\': \'Darwyn Peachey\', \'profile_path\': None}, {\'credit_id\': \'5892124b9251412dc5009bd2\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1748701, \'job\': \'Visual Effects\', \'name\': \'Mitch Prater\', \'profile_path\': None}, {\'credit_id\': \'58921264c3a3686b0a004dbf\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1748703, \'job\': \'Visual Effects\', \'name\': \'Brian M. Rosen\', \'profile_path\': None}, {\'credit_id\': \'589212709251412dcd009676\', \'department\': \'Lighting\', \'gender\': 1, \'id\': 12912, \'job\': \'Lighting Supervisor\', \'name\': \'Sharon Calahan\', \'profile_path\': None}, {\'credit_id\': \'5892127fc3a3686b0a004de5\', \'department\': \'Lighting\', \'gender\': 0, \'id\': 7899, \'job\': \'Lighting Supervisor\', \'name\': \'Galyn Susman\', \'profile_path\': None}, {\'credit_id\': \'589212cdc3a3680970009268\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 12915, \'job\': \'CG Painter\', \'name\': \'William Cone\', \'profile_path\': None}, {\'credit_id\': \'5892130f9251412dc8009791\', \'department\': \'Art\', \'gender\': 0, \'id\': 1748705, \'job\': \'Sculptor\', \'name\': \'Shelley Daniels Lekven\', \'profile_path\': None}, {\'credit_id\': \'5892131c9251412dd4008f4c\', \'department\': \'Visual Effects\', \'gender\': 2, \'id\': 7889, \'job\': \'Character Designer\', \'name\': \'Bob Pauley\', \'profile_path\': None}, {\'credit_id\': \'589213249251412dd100987b\', \'department\': \'Visual Effects\', \'gender\': 2, \'id\': 7918, \'job\': \'Character Designer\', \'name\': \'Bud Luckey\', \'profile_path\': \'/pcCh7G19FKMNijmPQg1PMH1btic.jpg\'}, {\'credit_id\': \'5892132b9251412dc80097b1\', \'department\': \'Visual Effects\', \'gender\': 2, \'id\': 7, \'job\': \'Character Designer\', \'name\': \'Andrew Stanton\', \'profile_path\': \'/pvQWsu0qc8JFQhMVJkTHuexUAa1.jpg\'}, {\'credit_id\': \'58921332c3a368634800467b\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 12915, \'job\': \'Character Designer\', \'name\': \'William Cone\', \'profile_path\': None}, {\'credit_id\': \'5892135f9251412dd4008f90\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1748706, \'job\': \'Character Designer\', \'name\': \'Steve Johnson\', \'profile_path\': None}, {\'credit_id\': \'58921384c3a3680973008fd4\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1176752, \'job\': \'Character Designer\', \'name\': \'Dan Haskett\', \'profile_path\': None}, {\'credit_id\': \'5892138e9251412dc20099fc\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1088034, \'job\': \'Character Designer\', \'name\': \'Tom Holloway\', \'profile_path\': \'/a0r0T2usTBpgMI5aZbRBDW1fTl8.jpg\'}, {\'credit_id\': \'58921395c3a368097700942f\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1447465, \'job\': \'Character Designer\', \'name\': \'Jean Gillmore\', \'profile_path\': None}, {\'credit_id\': \'589213e2c3a3680973009026\', \'department\': \'Directing\', \'gender\': 0, \'id\': 1748709, \'job\': \'Layout\', \'name\': \'Desirée Mourad\', \'profile_path\': None}, {\'credit_id\': \'589214099251412dc5009d57\', \'department\': \'Art\', \'gender\': 0, \'id\': 1748710, \'job\': \'Set Dresser\', \'name\': "Kelly O\'Connell", \'profile_path\': None}, {\'credit_id\': \'58921411c3a3686b0a004f70\', \'department\': \'Art\', \'gender\': 0, \'id\': 1443471, \'job\': \'Set Dresser\', \'name\': \'Sonoko Konishi\', \'profile_path\': None}, {\'credit_id\': \'58921434c3a368096a00956e\', \'department\': \'Art\', \'gender\': 0, \'id\': 1748711, \'job\': \'Set Dresser\', \'name\': \'Ann M. Rockwell\', \'profile_path\': None}, {\'credit_id\': \'5892144ac3a36809680090de\', \'department\': \'Editing\', \'gender\': 0, \'id\': 1748712, \'job\': \'Editorial Manager\', \'name\': \'Julie M. McDonald\', \'profile_path\': None}, {\'credit_id\': \'58921479c3a368096800910f\', \'department\': \'Editing\', \'gender\': 0, \'id\': 1589729, \'job\': \'Assistant Editor\', \'name\': \'Robin Lee\', \'profile_path\': None}, {\'credit_id\': \'5892148b9251412dd10099cc\', \'department\': \'Editing\', \'gender\': 0, \'id\': 1748716, \'job\': \'Assistant Editor\', \'name\': \'Tom Freeman\', \'profile_path\': None}, {\'credit_id\': \'589214959251412dcb009b1f\', \'department\': \'Editing\', \'gender\': 0, \'id\': 1748717, \'job\': \'Assistant Editor\', \'name\': \'Ada Cochavi\', \'profile_path\': None}, {\'credit_id\': \'5892149ec3a3686348004798\', \'department\': \'Editing\', \'gender\': 0, \'id\': 1336438, \'job\': \'Assistant Editor\', \'name\': \'Dana Mulligan\', \'profile_path\': None}, {\'credit_id\': \'589214adc3a368096a0095db\', \'department\': \'Editing\', \'gender\': 0, \'id\': 1748718, \'job\': \'Editorial Coordinator\', \'name\': \'Deirdre Morrison\', \'profile_path\': None}, {\'credit_id\': \'589214c7c3a368097700952b\', \'department\': \'Production\', \'gender\': 0, \'id\': 1748719, \'job\': \'Production Coordinator\', \'name\': \'Lori Lombardo\', \'profile_path\': None}, {\'credit_id\': \'589214cec3a368096a009603\', \'department\': \'Production\', \'gender\': 0, \'id\': 1748720, \'job\': \'Production Coordinator\', \'name\': \'Ellen Devine\', \'profile_path\': None}, {\'credit_id\': \'589214e39251412dc8009904\', \'department\': \'Crew\', \'gender\': 0, \'id\': 1468014, \'job\': \'Unit Publicist\', \'name\': \'Lauren Beth Strogoff\', \'profile_path\': None}, {\'credit_id\': \'58921544c3a3686b0a00507d\', \'department\': \'Sound\', \'gender\': 2, \'id\': 2216, \'job\': \'Sound Re-Recording Mixer\', \'name\': \'Gary Rydstrom\', \'profile_path\': \'/jZpr1nVfO7lldWI0YtmP1FGw7Rj.jpg\'}, {\'credit_id\': \'5892154c9251412dd1009a56\', \'department\': \'Sound\', \'gender\': 0, \'id\': 1425978, \'job\': \'Sound Re-Recording Mixer\', \'name\': \'Gary Summers\', \'profile_path\': None}, {\'credit_id\': \'58921555c3a36809680091bd\', \'department\': \'Sound\', \'gender\': 2, \'id\': 8276, \'job\': \'Supervising Sound Editor\', \'name\': \'Tim Holland\', \'profile_path\': None}, {\'credit_id\': \'589215c39251412dcb009c12\', \'department\': \'Sound\', \'gender\': 0, \'id\': 7069, \'job\': \'Sound Effects Editor\', \'name\': \'Pat Jackson\', \'profile_path\': None}, {\'credit_id\': \'58921698c3a368096a009788\', \'department\': \'Crew\', \'gender\': 2, \'id\': 15894, \'job\': \'Sound Design Assistant\', \'name\': \'Tom Myers\', \'profile_path\': None}, {\'credit_id\': \'589216a89251412dc2009ca4\', \'department\': \'Sound\', \'gender\': 0, \'id\': 1414177, \'job\': \'Assistant Sound Editor\', \'name\': \'J.R.

In [39]:
# Converter a string de volta para uma lista de dicionários e extrair o primeiro diretor
merged_data2['Diretor'] = merged_data2['equipe'].apply(lambda x: next((item['name'] for item in ast.literal_eval(x) if 'Director' in item['job']), None) if pd.notna(x) else None)

# Exibir o DataFrame resultante
display(merged_data2[['equipe', 'Diretor']].head(10))

                                              equipe          Diretor
0  [{'credit_id': '52fe4284c3a36847f8024f49', 'de...    John Lasseter
1  [{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...     Joe Johnston
2  [{'credit_id': '52fe466a9251416c75077a89', 'de...    Howard Deutch
3  [{'credit_id': '52fe44779251416c91011acb', 'de...  Forest Whitaker
4  [{'credit_id': '52fe44959251416c75039ed7', 'de...     Elliot Davis
5  [{'credit_id': '52fe4292c3a36847f802916d', 'de...     Michael Mann
6  [{'credit_id': '52fe44959251416c75039da9', 'de...   Sydney Pollack
7  [{'credit_id': '52fe46bdc3a36847f810f797', 'de...     Peter Hewitt
8  [{'credit_id': '52fe44dbc3a36847f80ae0f1', 'de...      Peter Hyams
9  [{'credit_id': '52fe426ec3a36847f801e14b', 'de...  Martin Campbell

In [40]:
# Lista de colunas a serem excluídas
colunas_para_excluir = ['elenco', 'equipe']

# Excluir as colunas do DataFrame
merged_data2 = merged_data2.drop(colunas_para_excluir, axis=1)

In [41]:
merged_data2 = merged_data2.rename(columns={'Elenco':'elenco', 'Diretor':'diretor'})

In [42]:
merged_data2.columns

Index(['adulto', 'orçamento', 'id', 'idioma_original', 'título_original',
       'visão_geral', 'popularidade', 'empresas_de_produção',
       'países_de_produção', 'data_de_lançamento', 'receita',
       'tempo_de_execução', 'frase_promocional', 'voto_médio',
       'contagem_de_votos', 'palavras_chave', 'gênero1', 'gênero2', 'gênero3',
       'elenco', 'diretor'],
      dtype='object')

In [43]:
merged_data2.head(5)

,adulto,orçamento,id,idioma_original,título_original,visão_geral,popularidade,empresas_de_produção,países_de_produção,data_de_lançamento,receita,tempo_de_execução,frase_promocional,voto_médio,contagem_de_votos,palavras_chave,gênero1,gênero2,gênero3,elenco,diretor
0,False,30000000,862,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,NaN,7.7,5415.0,jealousy / toy / boy / friendship / friends / ...,Animation,Comedy,Family,Tom Hanks como Woody (voice); Tim Allen como B...,John Lasseter
1,False,65000000,8844,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,Roll the dice and unleash the excitement!,6.9,2413.0,board game / disappearance / based on children...,Adventure,Fantasy,Family,Robin Williams como Alan Parrish; Jonathan Hyd...,Joe Johnston
2,False,0,15602,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.712900,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,101.0,Still Yelling. Still Fighting. Still Ready for...,6.5,92.0,fishing / best friend / duringcreditsstinger /...,NaN,NaN,NaN,Walter Matthau como Max Goldman; Jack Lemmon c...,Howard Deutch
3,False,16000000,31357,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",3.859495,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,81452156.0,127.0,Friends are the people who let you be yourself...,6.1,34.0,based on novel / interracial relationship / si...,Comedy,Drama,Romance,Whitney Houston como Savannah 'Vannah' Jackson...,Forest Whitaker
4,False,0,11862,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,8.387519,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,76578911.0,106.0,Just When His World Is Back To Normal... He's ...,5.7,173.0,baby / midlife crisis / confidence / aging / d...,NaN,NaN,NaN,Steve Martin como George Banks; Diane Keaton c...,Elliot Davis

In [44]:
# Supondo que 'merged_data2' seja o nome do DataFrame
idioma1 = merged_data2['idioma_original'].unique()
print(idioma1)

['en', 'fr', 'zh', 'it', 'fa', ..., 'mt', 'hy', 'iu', 'lb', 'si']
Length: 90
Categories (89, object): ['ab', 'af', 'am', 'ar', ..., 'wo', 'xx', 'zh', 'zu']

In [45]:
# Dicionário de traduções de idioma_originals
traducoes_idioma_originals = {
    'en': 'Inglês','fr': 'Francês', 'zh': 'Chinês',  'it': 'Italiano', 'fa': 'Persa', 'nl': 'Holandês',
    'de': 'Alemão', 'cn': 'Chinês', 'ar': 'Árabe', 'es': 'Espanhol','ru': 'Russo', 'sv': 'Sueco', 'ja': 'Japonês', 
    'ko': 'Coreano', 'sr': 'Sérvio', 'bn': 'Bengali',   'he': 'Hebraico',  'pt': 'Português',  'wo': 'Wolof',
    'ro': 'Romeno', 'hu': 'Húngaro', 'cy': 'Galês', 'vi': 'Vietnamita', 'cs': 'Tcheco', 'da': 'Dinamarquês', 'no': 'Norueguês',
    'nb': 'Norueguês','pl': 'Polonês', 'el': 'Grego', 'sh': 'Sérvio', 'xx': 'Desconhecido', 'mk': 'Macedônio',  'bo': 'Tibetano',  'ca': 'Catalão',
    'fi': 'Finlandês','th': 'Tailandês', 'sk': 'Eslovaco', 'bs': 'Bósnio', 'hi': 'Hindi',  'tr': 'Turco', 'is': 'Islandês',
    'ps': 'Pashto', 'ab': 'Abecásio',  'eo': 'Esperanto', 'ka': 'Georgiano', 'mn': 'Mongol', 'bm': 'Bambara', 'zu': 'Zulu',
    'uk': 'Ucraniano', 'af': 'Africâner', 'la': 'Latim', 'et': 'Estoniano',  'ku': 'Curdo', 'fy': 'Frísio', 'lv': 'Letão',
    'ta': 'Tâmil', 'sl': 'Esloveno', 'tl': 'Tagalo', 'ur': 'Urdu', 'rw': 'Kinyarwanda', 'id': 'Indonésio', 'bg': 'Búlgaro', 'mr': 'Marathi',
    'lt': 'Lituano', 'kk': 'Cazaque', 'ms': 'Malaio', 'sq': 'Albanês',  'qu': 'Quíchua',  'te': 'Telugu', 'am': 'Amárico', 'jv': 'Javanês',
    'tg': 'Tajique', 'ml': 'Malaiala', 'hr': 'Croata', 'lo': 'Laosiano', 'ay': 'Aimará',  'kn': 'Canarim', 'eu': 'Basco', 'ne': 'Nepalês', 'pa': 'Panjabi',
    'ky': 'Quirguiz', 'gl': 'Galego', 'uz': 'Uzbeque', 'sm': 'Samoano', 'mt': 'Maltês',  'hy': 'Armênio', 'iu': 'Inuktitut',  'lb': 'Luxemburguês', 'si': 'Cingalês',
    np.nan: 'Desconhecido'
}

# Supondo que 'df' seja o nome do DataFrame original

# Aplicar traduções aos idioma_originals
merged_data2['idioma_original'] = merged_data2['idioma_original'].map(lambda x: traducoes_idioma_originals.get(x, x))

print(merged_data2['idioma_original'].unique())

['Inglês' 'Francês' 'Chinês' 'Italiano' 'Persa' 'Holandês' 'Alemão'
 'Árabe' 'Espanhol' 'Russo' 'Sueco' 'Japonês' 'Coreano' 'Sérvio' 'Bengali'
 'Hebraico' 'Português' 'Wolof' 'Romeno' 'Húngaro' 'Galês' 'Vietnamita'
 'Tcheco' 'Dinamarquês' 'Norueguês' 'Polonês' 'Grego' 'Desconhecido'
 'Macedônio' 'Tibetano' 'Catalão' 'Finlandês' 'Tailandês' 'Eslovaco'
 'Bósnio' 'Hindi' 'Turco' 'Islandês' 'Pashto' 'Abecásio' 'Esperanto'
 'Georgiano' 'Mongol' 'Bambara' 'Zulu' 'Ucraniano' 'Africâner' 'Latim'
 'Estoniano' 'Curdo' 'Frísio' 'Letão' 'Tâmil' 'Esloveno' 'Tagalo' 'Urdu'
 'Kinyarwanda' 'Indonésio' 'Búlgaro' 'Marathi' 'Lituano' 'Cazaque'
 'Malaio' 'Albanês' 'Quíchua' 'Telugu' 'Amárico' 'Javanês' 'Tajique'
 'Malaiala' 'Croata' 'Laosiano' 'Aimará' 'Canarim' 'Basco' 'Nepalês'
 'Panjabi' 'Quirguiz' 'Galego' 'Uzbeque' 'Samoano' 'Maltês' 'Armênio'
 'Inuktitut' 'Luxemburguês' 'Cingalês']

In [47]:
# Dicionário de traduções
traducoes = {
    'Animation': 'Animação',
    'Adventure': 'Aventura',
    'Romance': 'Romance',
    'Comedy': 'Comédia',
    'Action': 'Ação',
    'Family': 'Família',
    'History': 'História',
    'Drama': 'Drama',
    'Crime': 'Crime',
    'Fantasy': 'Fantasia',
    'Thriller': 'Suspense',
    'Music': 'Música',
    'Horror': 'Terror',
    'Documentary': 'Documentário',
    'Mystery': 'Mistério',
    'Western': 'Faroeste',
    'War': 'Guerra',
    'Foreign': 'Estrangeiro',
    np.nan: 'Desconhecido'
}

# Função para traduzir gêneros
def traduzir_genero(genero):
    return traducoes.get(genero, genero)

# Aplicar traduções aos gêneros
merged_data2[['gênero1', 'gênero2', 'gênero3']] = merged_data2[['gênero1', 'gênero2', 'gênero3']].applymap(traduzir_genero)

merged_data2[['título_original', 'gênero1', 'gênero2', 'gênero3']]

C:\Users\psyte\AppData\Local\Temp\ipykernel_45396\3839081168.py:29: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  merged_data2[['gênero1', 'gênero2', 'gênero3']] = merged_data2[['gênero1', 'gênero2', 'gênero3']].applymap(traduzir_genero)

                   título_original   gênero1   gênero2   gênero3
0                        Toy Story  Animação   Comédia   Família
1                          Jumanji  Aventura  Fantasia   Família
2                 Grumpier Old Men       NaN       NaN       NaN
3                Waiting to Exhale   Comédia     Drama   Romance
4      Father of the Bride Part II       NaN       NaN       NaN
...                            ...       ...       ...       ...
46626                      رگ خواب       NaN       NaN       NaN
46627          Siglo ng Pagluluwal       NaN       NaN       NaN
46628                     Betrayal      Ação     Drama  Suspense
46629          Satana likuyushchiy       NaN       NaN       NaN
46630                     Queerama       NaN       NaN       NaN

[45432 rows x 4 columns]

In [48]:
merged_data2.head(1)

,adulto,orçamento,id,idioma_original,título_original,visão_geral,popularidade,empresas_de_produção,países_de_produção,data_de_lançamento,receita,tempo_de_execução,frase_promocional,voto_médio,contagem_de_votos,palavras_chave,gênero1,gênero2,gênero3,elenco,diretor
0,False,30000000,862,Inglês,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,NaN,7.7,5415.0,jealousy / toy / boy / friendship / friends / ...,Animação,Comédia,Família,Tom Hanks como Woody (voice); Tim Allen como B...,John Lasseter

In [49]:
# Contar quantas linhas têm NaN na coluna 'data_de_lançamento'
nan_count = merged_data2['data_de_lançamento'].isna().sum()

print("Número de linhas com NaN na coluna 'data_de_lançamento':", nan_count)

Número de linhas com NaN na coluna 'data_de_lançamento': 87

In [50]:
# Excluir linhas com NaN na coluna 'data_de_lançamento'
merged_data2.dropna(subset=['data_de_lançamento'], inplace=True)
# Contar quantas linhas têm NaN na coluna 'data_de_lançamento'
nan_count = merged_data2['data_de_lançamento'].isna().sum()

print("Número de linhas com NaN na coluna 'data_de_lançamento':", nan_count)

Número de linhas com NaN na coluna 'data_de_lançamento': 0

In [51]:
data = merged_data2.copy()

In [52]:
# Converter para datetime
data['data_de_lançamento'] = pd.to_datetime(data['data_de_lançamento'], errors='coerce')

# Dividir a coluna 'data_de_lançamento' em ano, mês e dia e converter para int
data['ano_lançamento'] = data['data_de_lançamento'].dt.year.astype(int)
data['mês_lançamento'] = data['data_de_lançamento'].dt.month.astype(int)
data['dia_lançamento'] = data['data_de_lançamento'].dt.day.astype(int)

# Preencher valores nulos na coluna 'data_de_lançamento' com NaT (Not a Time)
data['data_de_lançamento'] = data['data_de_lançamento'].fillna(pd.NaT)

# Criar coluna 'dia_semana_lançamento' com o dia da semana correspondente
data['dia_semana_lançamento'] = data['data_de_lançamento'].dt.day_name()

# Excluir a coluna 'data_de_lançamento'
data.drop(columns=['data_de_lançamento'], inplace=True)

data.head(1)

,adulto,orçamento,id,idioma_original,título_original,visão_geral,popularidade,empresas_de_produção,países_de_produção,receita,tempo_de_execução,frase_promocional,voto_médio,contagem_de_votos,palavras_chave,gênero1,gênero2,gênero3,elenco,diretor,ano_lançamento,mês_lançamento,dia_lançamento,dia_semana_lançamento
0,False,30000000,862,Inglês,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",373554033.0,81.0,NaN,7.7,5415.0,jealousy / toy / boy / friendship / friends / ...,Animação,Comédia,Família,Tom Hanks como Woody (voice); Tim Allen como B...,John Lasseter,1995,10,30,Monday

In [53]:
# Dicionário para mapear os nomes dos dias da semana em português
dias_da_semana = {
    'Monday': 'Segunda-feira',
    'Tuesday': 'Terça-feira',
    'Wednesday': 'Quarta-feira',
    'Thursday': 'Quinta-feira',
    'Friday': 'Sexta-feira',
    'Saturday': 'Sábado',
    'Sunday': 'Domingo'
}

# Aplicar a tradução dos nomes dos dias da semana
data['dia_semana_lançamento'] = data['dia_semana_lançamento'].map(dias_da_semana)
data[['ano_lançamento', 'mês_lançamento', 'dia_lançamento','dia_semana_lançamento']].head(5)

   ano_lançamento  mês_lançamento  dia_lançamento dia_semana_lançamento
0            1995              10              30         Segunda-feira
1            1995              12              15           Sexta-feira
2            1995              12              22           Sexta-feira
3            1995              12              22           Sexta-feira
4            1995               2              10           Sexta-feira

In [54]:
print(data['empresas_de_produção'].head(3))

0       [{'name': 'Pixar Animation Studios', 'id': 3}]
1    [{'name': 'TriStar Pictures', 'id': 559}, {'na...
2    [{'name': 'Warner Bros.', 'id': 6194}, {'name'...
Name: empresas_de_produção, dtype: object

In [55]:
# Converter a string de volta para uma lista de dicionários apenas para as 10 primeiras linhas
data['empresas_de_produção'] = data['empresas_de_produção'].apply(lambda x: ast.literal_eval(x) if pd.notna(x) else [])

# Extrair o nome da primeira empresa de produção da lista de empresas
data['empresa_de_produção'] = data['empresas_de_produção'].apply(lambda x: x[0]['name'] if x else None)

# Visualizar o DataFrame resultante
display(data[['empresa_de_produção', 'empresas_de_produção']].head(10))

,empresa_de_produção,empresas_de_produção
0,Pixar Animation Studios,"[{'name': 'Pixar Animation Studios', 'id': 3}]"
1,TriStar Pictures,"[{'name': 'TriStar Pictures', 'id': 559}, {'na..."
2,Warner Bros.,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'..."
3,Twentieth Century Fox Film Corporation,[{'name': 'Twentieth Century Fox Film Corporat...
4,Sandollar Productions,"[{'name': 'Sandollar Productions', 'id': 5842}..."
5,Regency Enterprises,"[{'name': 'Regency Enterprises', 'id': 508}, {..."
6,Paramount Pictures,"[{'name': 'Paramount Pictures', 'id': 4}, {'na..."
7,Walt Disney Pictures,"[{'name': 'Walt Disney Pictures', 'id': 2}]"
8,Universal Pictures,"[{'name': 'Universal Pictures', 'id': 33}, {'n..."
9,United Artists,"[{'name': 'United Artists', 'id': 60}, {'name'..."

In [56]:
# Excluir as colunas 'id' e 'empresas_de_produção'
data.drop(columns=['id', 'empresas_de_produção'], inplace=True)

In [57]:
data.head(2)

,adulto,orçamento,idioma_original,título_original,visão_geral,popularidade,países_de_produção,receita,tempo_de_execução,frase_promocional,voto_médio,contagem_de_votos,palavras_chave,gênero1,gênero2,gênero3,elenco,diretor,ano_lançamento,mês_lançamento,dia_lançamento,dia_semana_lançamento,empresa_de_produção
0,False,30000000,Inglês,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,"[{'iso_3166_1': 'US', 'name': 'United States o...",373554033.0,81.0,NaN,7.7,5415.0,jealousy / toy / boy / friendship / friends / ...,Animação,Comédia,Família,Tom Hanks como Woody (voice); Tim Allen como B...,John Lasseter,1995,10,30,Segunda-feira,Pixar Animation Studios
1,False,65000000,Inglês,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,"[{'iso_3166_1': 'US', 'name': 'United States o...",262797249.0,104.0,Roll the dice and unleash the excitement!,6.9,2413.0,board game / disappearance / based on children...,Aventura,Fantasia,Família,Robin Williams como Alan Parrish; Jonathan Hyd...,Joe Johnston,1995,12,15,Sexta-feira,TriStar Pictures

In [58]:
for row in data['países_de_produção'].head(5):
    print(row)

[{'iso_3166_1': 'US', 'name': 'United States of America'}]
[{'iso_3166_1': 'US', 'name': 'United States of America'}]
[{'iso_3166_1': 'US', 'name': 'United States of America'}]
[{'iso_3166_1': 'US', 'name': 'United States of America'}]
[{'iso_3166_1': 'US', 'name': 'United States of America'}]

In [59]:
# Converter a string de volta para uma lista de dicionários apenas para as 10 primeiras linhas
data['países_de_produção'] = data['países_de_produção'].apply(lambda x: ast.literal_eval(x) if pd.notna(x) else [])

# Extrair o nome do primeiro país de produção da lista de países
data['país_de_produção'] = data['países_de_produção'].apply(lambda x: x[0]['name'] if x else None)

# Visualizar o DataFrame resultante
display(data[['país_de_produção', 'países_de_produção']].head(10))

           país_de_produção                                 países_de_produção
0  United States of America  [{'iso_3166_1': 'US', 'name': 'United States o...
1  United States of America  [{'iso_3166_1': 'US', 'name': 'United States o...
2  United States of America  [{'iso_3166_1': 'US', 'name': 'United States o...
3  United States of America  [{'iso_3166_1': 'US', 'name': 'United States o...
4  United States of America  [{'iso_3166_1': 'US', 'name': 'United States o...
5  United States of America  [{'iso_3166_1': 'US', 'name': 'United States o...
6                   Germany  [{'iso_3166_1': 'DE', 'name': 'Germany'}, {'is...
7  United States of America  [{'iso_3166_1': 'US', 'name': 'United States o...
8  United States of America  [{'iso_3166_1': 'US', 'name': 'United States o...
9            United Kingdom  [{'iso_3166_1': 'GB', 'name': 'United Kingdom'...

In [60]:
data['país_de_produção'].unique()

array(['United States of America', 'Germany', 'United Kingdom', 'France',
       'Italy', 'China', 'Australia', 'South Africa', 'Canada', None,
       'Belgium', 'Iran', 'Netherlands', 'Hong Kong', 'Tunisia',
       'Dominican Republic', 'Croatia', 'Japan', 'Austria', 'Ireland',
       'Taiwan', 'New Zealand', 'Mexico', 'Peru', 'Cuba', 'Denmark',
       'Finland', 'Spain', 'Iceland', 'South Korea', 'Serbia', 'Sweden',
       'India', 'Argentina', 'Brazil', 'Senegal', 'Burkina Faso',
       'Hungary', 'Philippines', 'Czech Republic', 'Vietnam',
       'Switzerland', 'Trinidad and Tobago', 'Chile', 'Portugal',
       'Russia', 'Norway', 'Ukraine', 'Botswana', 'Aruba', 'Israel',
       'Luxembourg', 'Poland', 'Ecuador', 'Lebanon',
       'Bosnia and Herzegovina', 'Bahamas', 'Macedonia', 'Malaysia',
       'Bhutan', 'Bulgaria', 'Jamaica', 'Greece', "Cote D'Ivoire",
       'Thailand', 'Namibia', 'Cameroon', 'Colombia',
       'Libyan Arab Jamahiriya', 'Algeria', 'Turkey', 'Soviet Union',
       'Slovenia', 'Afghanistan', 'Singapore', 'Tajikistan', 'Romania',
       'Czechoslovakia', 'Martinique', 'Georgia', 'Armenia', 'Egypt',
       'Indonesia', 'Mongolia', 'Monaco', 'Uruguay', 'Venezuela',
       'Lithuania', 'Rwanda', 'Palestinian Territory', 'East Germany',
       'Morocco', 'Mali', 'Estonia',
       'United States Minor Outlying Islands', 'Latvia', 'Chad',
       'Kazakhstan', 'United Arab Emirates', 'Liberia', 'Yugoslavia',
       'Costa Rica', 'Belarus', 'Bolivia', 'Cambodia', 'Iraq',
       'Mauritania', 'Cyprus', 'Bangladesh', 'Pakistan',
       'Syrian Arab Republic', 'Kyrgyz Republic', 'Congo', 'Tanzania',
       'Jordan', 'Slovakia', 'Uganda', 'Saudi Arabia', 'Ethiopia',
       'Albania', 'Qatar', 'Sri Lanka', 'Papua New Guinea', 'Angola',
       'Nigeria', 'Paraguay', 'Puerto Rico', 'Panama', 'Guatemala',
       'Myanmar', 'Bermuda', "Lao People's Democratic Republic", 'Malta',
       'Uzbekistan', 'Samoa', 'Nicaragua', 'Montenegro', 'Ghana',
       'El Salvador', 'Brunei Darussalam', 'Nepal', 'Liechtenstein',
       'North Korea', 'Azerbaijan'], dtype=object)

In [61]:
data.columns

Index(['adulto', 'orçamento', 'idioma_original', 'título_original',
       'visão_geral', 'popularidade', 'países_de_produção', 'receita',
       'tempo_de_execução', 'frase_promocional', 'voto_médio',
       'contagem_de_votos', 'palavras_chave', 'gênero1', 'gênero2', 'gênero3',
       'elenco', 'diretor', 'ano_lançamento', 'mês_lançamento',
       'dia_lançamento', 'dia_semana_lançamento', 'empresa_de_produção',
       'país_de_produção'],
      dtype='object')

In [62]:
# Converter as colunas para int
data['contagem_de_votos'] = data['contagem_de_votos'].astype(int)
data['receita'] = data['receita'].astype(int)
data['orçamento'] = data['orçamento'].astype(int)

# Criar a nova coluna 'lucro_filme'
data['lucro_filme'] = (data['receita'] - data['orçamento']).astype(int)
data['popularidade'] = data['popularidade'].round(2)

data.head(2)

,adulto,orçamento,idioma_original,título_original,visão_geral,popularidade,países_de_produção,receita,tempo_de_execução,frase_promocional,voto_médio,contagem_de_votos,palavras_chave,gênero1,gênero2,gênero3,elenco,diretor,ano_lançamento,mês_lançamento,dia_lançamento,dia_semana_lançamento,empresa_de_produção,país_de_produção,lucro_filme
0,False,30000000,Inglês,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.95,"[{'iso_3166_1': 'US', 'name': 'United States o...",373554033,81.0,NaN,7.7,5415,jealousy / toy / boy / friendship / friends / ...,Animação,Comédia,Família,Tom Hanks como Woody (voice); Tim Allen como B...,John Lasseter,1995,10,30,Segunda-feira,Pixar Animation Studios,United States of America,343554033
1,False,65000000,Inglês,Jumanji,When siblings Judy and Peter discover an encha...,17.02,"[{'iso_3166_1': 'US', 'name': 'United States o...",262797249,104.0,Roll the dice and unleash the excitement!,6.9,2413,board game / disappearance / based on children...,Aventura,Fantasia,Família,Robin Williams como Alan Parrish; Jonathan Hyd...,Joe Johnston,1995,12,15,Sexta-feira,TriStar Pictures,United States of America,197797249

In [63]:
# Excluir as colunas 'id' e 'empresas_de_produção'
data.drop(columns=['países_de_produção'], inplace=True)

In [64]:
data.describe()

,orçamento,popularidade,receita,tempo_de_execução,voto_médio,contagem_de_votos,ano_lançamento,mês_lançamento,dia_lançamento,lucro_filme
count,4.534500e+04,45345.000000,4.534500e+04,45099.000000,45345.000000,45345.000000,45345.000000,45345.000000,45345.000000,4.534500e+04
mean,4.232673e+06,2.926211,1.112506e+07,94.179893,5.624320,110.137722,1991.882280,6.459257,14.209130,6.987105e+06
std,1.744391e+07,6.011036,6.388618e+07,38.346636,1.915178,491.904428,24.053016,3.628072,9.283553,5.160004e+07
min,0.000000e+00,0.000000,-2.147484e+09,0.000000,0.000000,0.000000,1874.000000,1.000000,1.000000,-1.657101e+08
25%,0.000000e+00,0.390000,0.000000e+00,85.000000,5.000000,3.000000,1978.000000,3.000000,6.000000,0.000000e+00
50%,0.000000e+00,1.130000,0.000000e+00,95.000000,6.000000,10.000000,2001.000000,7.000000,14.000000,0.000000e+00
75%,0.000000e+00,3.690000,0.000000e+00,107.000000,6.800000,34.000000,2010.000000,10.000000,22.000000,0.000000e+00
max,3.800000e+08,547.490000,2.068224e+09,1256.000000,10.000000,14075.000000,2020.000000,12.000000,31.000000,1.910484e+09

In [66]:
data.shape

(45345, 24)

In [65]:
data.isna().sum()

adulto                       0
orçamento                    0
idioma_original              0
título_original              0
visão_geral                941
popularidade                 0
receita                      0
tempo_de_execução          246
frase_promocional        24958
voto_médio                   0
contagem_de_votos            0
palavras_chave               0
gênero1                  32761
gênero2                  32761
gênero3                  32761
elenco                       0
diretor                    826
ano_lançamento               0
mês_lançamento               0
dia_lançamento               0
dia_semana_lançamento        0
empresa_de_produção      11788
país_de_produção          6207
lucro_filme                  0
dtype: int64

In [67]:
# Excluir as colunas 'id' e 'empresas_de_produção'
data.drop(columns=['frase_promocional'], inplace=True)

In [68]:
data.loc[data.duplicated()]

Empty DataFrame
Columns: [adulto, orçamento, idioma_original, título_original, visão_geral, popularidade, receita, tempo_de_execução, voto_médio, contagem_de_votos, palavras_chave, gênero1, gênero2, gênero3, elenco, diretor, ano_lançamento, mês_lançamento, dia_lançamento, dia_semana_lançamento, empresa_de_produção, país_de_produção, lucro_filme]
Index: []

In [69]:
data.loc[data.duplicated(subset=['título_original'])]

,adulto,orçamento,idioma_original,título_original,visão_geral,popularidade,receita,tempo_de_execução,voto_médio,contagem_de_votos,palavras_chave,gênero1,gênero2,gênero3,elenco,diretor,ano_lançamento,mês_lançamento,dia_lançamento,dia_semana_lançamento,empresa_de_produção,país_de_produção,lucro_filme
894,False,2238813,Inglês,Sabrina,Linus and David Larrabee are the two sons of a...,7.36,10000000,113.0,7.4,284,brother brother relationship / chauffeur / cha...,Comédia,Drama,Romance,Humphrey Bogart como Linus Larrabee; Audrey He...,Billy Wilder,1954,9,28,Terça-feira,Paramount Pictures,United States of America,7761187
936,False,0,Inglês,The Scarlet Letter,"In Puritan Boston, seamstress Hester Prynne is...",0.28,0,115.0,8.3,4,silent film,NaN,NaN,NaN,Lillian Gish como Hester Prynne; Lars Hanson c...,Victor Sjöström,1926,8,9,Segunda-feira,Metro-Goldwyn-Mayer (MGM),United States of America,0
1305,False,0,Inglês,Cape Fear,Sam Bowden witnesses a rape committed by Max C...,7.58,0,105.0,7.2,125,poison / small town / boat / ex-detainee / psy...,NaN,NaN,NaN,Gregory Peck como Sam Bowden; Robert Mitchum c...,J. Lee Thompson,1962,4,12,Quinta-feira,Melville-Talbot Productions,United States of America,0
1844,False,750000,Inglês,Hamlet,"Winner of four Academy Awards, including Best ...",3.19,0,155.0,7.1,48,shakespeare / father murder,NaN,NaN,NaN,Laurence Olivier como Hamlet - Prince of Denma...,Laurence Olivier,1948,3,25,Quinta-feira,Two Cities Films,United Kingdom,-750000
1962,False,0,Inglês,The Parent Trap,Hallie Parker and Annie James are identical tw...,7.77,0,127.0,6.8,768,matchmaking / divorced / twins separated at bi...,Comédia,Drama,Família,Lindsay Lohan como Hallie Parker / Annie James...,Dean Cundey,1998,7,28,Terça-feira,Walt Disney Pictures,United States of America,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46580,False,0,Inglês,The Hunters,An ethnographic film that documents the effort...,0.14,0,72.0,5.0,1,africa / desert / hunting / ethnographical,NaN,NaN,NaN,John Marshall como Narrator,John Marshall,1957,1,1,Terça-feira,Harvard University,United States of America,0
46585,False,0,Inglês,Arabian Nights,Scheherezade puts herself in danger to save Su...,2.27,0,175.0,6.9,21,,Drama,Família,Fantasia,Mili Avital como Scheherezade; Dougray Scott c...,Remi Adefarasin,2000,4,30,Domingo,Studio Babelsberg,United States of America,0
46619,False,0,Inglês,The Morning After,The Morning After is a feature film that consi...,0.14,0,79.0,4.0,2,,NaN,NaN,NaN,Markie Adams como Lauren; Roberto Aguire como ...,Shanra J. Kehl,2015,1,11,Domingo,Oops Doughnuts Productions,United States of America,0
46625,False,0,Inglês,Robin Hood,"Yet another version of the classic epic, with ...",5.68,0,104.0,5.7,26,,Drama,Ação,Romance,Patrick Bergin como Sir Robert Hode; Uma Thurm...,John Irvin,1991,5,13,Segunda-feira,Westdeutscher Rundfunk (WDR),Canada,0
46628,False,0,Inglês,Betrayal,"When one of her hits goes wrong, a professiona...",0.90,0,90.0,3.8,6,,Ação,Drama,Suspense,Erika Eleniak como Emily Shaw; Adam Baldwin co...,Mark L. Lester,2003,8,1,Sexta-feira,American World Pictures,United States of America,0

In [70]:
data.columns

Index(['adulto', 'orçamento', 'idioma_original', 'título_original',
       'visão_geral', 'popularidade', 'receita', 'tempo_de_execução',
       'voto_médio', 'contagem_de_votos', 'palavras_chave', 'gênero1',
       'gênero2', 'gênero3', 'elenco', 'diretor', 'ano_lançamento',
       'mês_lançamento', 'dia_lançamento', 'dia_semana_lançamento',
       'empresa_de_produção', 'país_de_produção', 'lucro_filme'],
      dtype='object')

In [71]:
# Encontrar filmes duplicados e contar a frequência de cada título
filmes_duplicados = data[data.duplicated(subset=['título_original'], keep=False)]
contagem_filmes_duplicados = filmes_duplicados.groupby('título_original').size()

# Filtrar apenas os filmes que têm mais de uma ocorrência
filmes_duplicados = contagem_filmes_duplicados[contagem_filmes_duplicados > 1]

# Criar DataFrame com títulos duplicados e suas contagens
df_filmes_duplicados = pd.DataFrame({'Filme': filmes_duplicados.index, 'Repetições': filmes_duplicados.values})

# Ordenar o DataFrame em ordem decrescente de repetições
df_filmes_duplicados = df_filmes_duplicados.sort_values(by='Repetições', ascending=False)

# Resetar o índice do DataFrame
df_filmes_duplicados.reset_index(drop=True, inplace=True)

# Exibir o DataFrame resultante
df_filmes_duplicados.head(10)

                  Filme  Repetições
0   Alice in Wonderland           8
1                Hamlet           8
2        Les Misérables           7
3            Cinderella           7
4  The Three Musketeers           7
5               Macbeth           7
6     A Christmas Carol           7
7                 Heidi           6
8       Treasure Island           6
9     Wuthering Heights           6

In [72]:
# Encontrar filmes duplicados e contar a frequência de cada combinação de título, diretor e ano de lançamento
filmes_duplicados = data[data.duplicated(subset=['título_original', 'diretor', 'elenco'], keep=False)]
contagem_filmes_duplicados = filmes_duplicados.groupby(['título_original', 'diretor', 'elenco']).size()

# Filtrar apenas os filmes que têm mais de uma ocorrência
filmes_duplicados = contagem_filmes_duplicados[contagem_filmes_duplicados > 1]

# Criar DataFrame com títulos duplicados e suas contagens
df_filmes_duplicados2 = pd.DataFrame({'Título Original': filmes_duplicados.index.get_level_values('título_original'),
                                     'Diretor': filmes_duplicados.index.get_level_values('diretor'),
                                     'Elenco': filmes_duplicados.index.get_level_values('elenco'),
                                     'Repetições': filmes_duplicados.values})

# Ordenar o DataFrame em ordem decrescente de repetições
df_filmes_duplicados2 = df_filmes_duplicados2.sort_values(by='Repetições', ascending=False)

# Resetar o índice do DataFrame
df_filmes_duplicados2.reset_index(drop=True, inplace=True)

# Exibir o DataFrame resultante
df_filmes_duplicados2.head(50)

,Título Original,Diretor,Elenco,Repetições
0,It's Such a Beautiful Day,Don Hertzfeldt,Don Hertzfeldt como Narrator,2

In [73]:
# Encontrar filmes duplicados e contar a frequência de cada combinação de título, diretor e ano de lançamento
filmes_duplicados = data[data.duplicated(subset=['título_original', 'ano_lançamento'], keep=False)]
contagem_filmes_duplicados = filmes_duplicados.groupby(['título_original', 'ano_lançamento']).size()

# Filtrar apenas os filmes que têm mais de uma ocorrência
filmes_duplicados = contagem_filmes_duplicados[contagem_filmes_duplicados > 1]

# Criar DataFrame com títulos duplicados e suas contagens
df_filmes_duplicados = pd.DataFrame({'Título Original': filmes_duplicados.index.get_level_values('título_original'),
                                     'Ano de Lançamento': filmes_duplicados.index.get_level_values('ano_lançamento'),
                                     'Repetições': filmes_duplicados.values})

# Ordenar o DataFrame em ordem decrescente de repetições
df_filmes_duplicados = df_filmes_duplicados.sort_values(by='Repetições', ascending=False)

# Resetar o índice do DataFrame
df_filmes_duplicados.reset_index(drop=True, inplace=True)

# Exibir o DataFrame resultante
df_filmes_duplicados.head(50)

                 Título Original  Ano de Lançamento  Repetições
0   20,000 Leagues Under the Sea               1997           2
1                          Grace               2014           2
2                      The Visit               2015           2
3                       The Girl               2012           2
4                The Disappeared               2008           2
5                        Soldier               1998           2
6                      Slow Burn               2000           2
7                          Lucky               2011           2
8                    Joan of Arc               1999           2
9                         Hamlet               2000           2
10                        Gossip               2000           2
11                 Another World               2014           2
12                  Frankenstein               2004           2
13                        Fallen               2006           2
14                          Emma               1996           2
15                      Delirium               2014           2
16                       Darling               2007           2
17                         Chaos               2005           2
18                      Casanova               2005           2
19                       Beneath               2013           2
20                      The Void               2016           2

In [74]:
# Excluir duplicatas com base no título original e ano de lançamento
data = data.drop_duplicates(subset=['título_original', 'ano_lançamento'])

In [75]:
# Excluir duplicatas com base no título original e diretor
data = data.drop_duplicates(subset=['título_original', 'diretor'])

In [76]:
mov = data.copy()
mov

,adulto,orçamento,idioma_original,título_original,visão_geral,popularidade,receita,tempo_de_execução,voto_médio,contagem_de_votos,palavras_chave,gênero1,gênero2,gênero3,elenco,diretor,ano_lançamento,mês_lançamento,dia_lançamento,dia_semana_lançamento,empresa_de_produção,país_de_produção,lucro_filme
0,False,30000000,Inglês,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.95,373554033,81.0,7.7,5415,jealousy / toy / boy / friendship / friends / ...,Animação,Comédia,Família,Tom Hanks como Woody (voice); Tim Allen como B...,John Lasseter,1995,10,30,Segunda-feira,Pixar Animation Studios,United States of America,343554033
1,False,65000000,Inglês,Jumanji,When siblings Judy and Peter discover an encha...,17.02,262797249,104.0,6.9,2413,board game / disappearance / based on children...,Aventura,Fantasia,Família,Robin Williams como Alan Parrish; Jonathan Hyd...,Joe Johnston,1995,12,15,Sexta-feira,TriStar Pictures,United States of America,197797249
2,False,0,Inglês,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.71,0,101.0,6.5,92,fishing / best friend / duringcreditsstinger /...,NaN,NaN,NaN,Walter Matthau como Max Goldman; Jack Lemmon c...,Howard Deutch,1995,12,22,Sexta-feira,Warner Bros.,United States of America,0
3,False,16000000,Inglês,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",3.86,81452156,127.0,6.1,34,based on novel / interracial relationship / si...,Comédia,Drama,Romance,Whitney Houston como Savannah 'Vannah' Jackson...,Forest Whitaker,1995,12,22,Sexta-feira,Twentieth Century Fox Film Corporation,United States of America,65452156
4,False,0,Inglês,Father of the Bride Part II,Just when George Banks has recovered from his ...,8.39,76578911,106.0,5.7,173,baby / midlife crisis / confidence / aging / d...,NaN,NaN,NaN,Steve Martin como George Banks; Diane Keaton c...,Elliot Davis,1995,2,10,Sexta-feira,Sandollar Productions,United States of America,76578911
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46625,False,0,Inglês,Robin Hood,"Yet another version of the classic epic, with ...",5.68,0,104.0,5.7,26,,Drama,Ação,Romance,Patrick Bergin como Sir Robert Hode; Uma Thurm...,John Irvin,1991,5,13,Segunda-feira,Westdeutscher Rundfunk (WDR),Canada,0
46627,False,0,Tagalo,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,0.18,0,360.0,9.0,3,artist / play / pinoy,NaN,NaN,NaN,Angel Aquino como Sister Angela; Perry Dizon c...,Lav Diaz,2011,11,17,Quinta-feira,Sine Olivia,Philippines,0
46628,False,0,Inglês,Betrayal,"When one of her hits goes wrong, a professiona...",0.90,0,90.0,3.8,6,,Ação,Drama,Suspense,Erika Eleniak como Emily Shaw; Adam Baldwin co...,Mark L. Lester,2003,8,1,Sexta-feira,American World Pictures,United States of America,0
46629,False,0,Inglês,Satana likuyushchiy,"In a small town live two brothers, one a minis...",0.00,0,87.0,0.0,0,,NaN,NaN,NaN,Iwan Mosschuchin como ; Nathalie Lissenko como...,Yakov Protazanov,1917,10,21,Domingo,Yermoliev,Russia,0
46630,False,0,Inglês,Queerama,50 years after decriminalisation of homosexual...,0.16,0,75.0,0.0,0,,NaN,NaN,NaN,,Daisy Asquith,2017,6,9,Sexta-feira,None,United Kingdom,0

In [77]:
# Encontrar as duplicatas com base nas colunas especificadas
duplicatas = mov[mov.duplicated(subset=['título_original', 'idioma_original', 'gênero1', 'gênero2', 'gênero3', 'país_de_produção'], keep=False)]

# Ordenar o DataFrame pelas colunas de interesse
duplicatas_ordenadas = duplicatas.sort_values(by=['título_original'])

# Redefinir o índice para tornar os títulos originais adjacentes
duplicatas_ordenadas.reset_index(drop=True, inplace=True)

duplicatas_ordenadas

,adulto,orçamento,idioma_original,título_original,visão_geral,popularidade,receita,tempo_de_execução,voto_médio,contagem_de_votos,palavras_chave,gênero1,gênero2,gênero3,elenco,diretor,ano_lançamento,mês_lançamento,dia_lançamento,dia_semana_lançamento,empresa_de_produção,país_de_produção,lucro_filme
0,False,350000,Inglês,12 Angry Men,The defense and the prosecution have rested an...,16.50,1000000,96.0,8.2,2130,judge / jurors / sultriness / death penalty / ...,NaN,NaN,NaN,Henry Fonda como Juror 8; Martin Balsam como J...,Sidney Lumet,1957,3,25,Segunda-feira,United Artists,United States of America,650000
1,False,0,Inglês,12 Angry Men,During the trial of a man accused of his fathe...,3.68,0,117.0,7.5,59,judge / jurors / death penalty / evidence / ri...,NaN,NaN,NaN,Courtney B. Vance como Foreman; Ossie Davis co...,Fred Schuler,1997,8,17,Domingo,MGM Television,United States of America,0
2,False,55000000,Inglês,3:10 to Yuma,"In Arizona in the late 1800's, infamous outlaw...",18.08,70016220,122.0,6.9,1210,parent child relationship / saloon / hero / li...,NaN,NaN,NaN,Russell Crowe como Ben Wade; Christian Bale co...,James Mangold,2007,9,6,Quinta-feira,Tree Line Films,United States of America,15016220
3,False,0,Inglês,3:10 to Yuma,"Dave Evans, a small time farmer, is hired to e...",15.93,0,92.0,7.1,77,hotel / small town / hunger / outlaw / train /...,NaN,NaN,NaN,Glenn Ford como Ben Wade; Van Heflin como Dan ...,Charles Lawton Jr.,1957,8,7,Quarta-feira,Columbia Pictures Corporation,United States of America,0
4,False,0,Inglês,A Christmas Carol,One of the best-loved holiday stories of all t...,1.47,0,72.0,5.7,9,holiday / scrooge,NaN,NaN,NaN,Tim Curry como Ebenezer Scrooge; Whoopi Goldbe...,Stan Phillips,1997,1,1,Quarta-feira,DiC Entertainment,United States of America,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
733,False,0,Japonês,楢山節考,In a small village in a valley everyone who re...,1.93,0,130.0,7.1,32,independent film,NaN,NaN,NaN,Ken Ogata como Tatsuhei; Sumiko Sakamoto como ...,Shôhei Imamura,1983,4,9,Sábado,Toei Company,Japan,0
734,False,0,Japonês,野火,"In the final days of World War II, occupying J...",1.20,0,87.0,5.0,6,,NaN,NaN,NaN,Shinya Tsukamoto como ; Tatsuya Nakamura como ...,Shinya Tsukamoto,2014,8,30,Sábado,None,Japan,0
735,False,0,Japonês,野火,An agonizing portrait of desperate Japanese so...,3.46,0,108.0,7.8,17,world war ii / kanibalismus / war,NaN,NaN,NaN,Eiji Funakoshi como Tamura; Osamu Takizawa com...,Kon Ichikawa,1959,11,3,Terça-feira,Daiei Motion Picture Company,Japan,0
736,False,4000000,Coreano,하녀,A man's affair with his family's housemaid lea...,4.26,0,106.0,6.2,71,adultery / eroticism,NaN,NaN,NaN,Jeon Do-yeon como Eun-yi; Lee Jung-jae como Ho...,Im Sang-soo,2010,5,13,Quinta-feira,Sidus,South Korea,-4000000
737,False,0,Coreano,하녀,A piano composer's family moves into a new hou...,1.82,0,111.0,7.0,19,housemaid,NaN,NaN,NaN,Lee Eun-shim como Myung-sook; Ju Jeung-nyeo co...,Kim Duk-jin,1960,11,3,Quinta-feira,Kim Ki-Young Production,South Korea,0

In [78]:
mov.shape

(45309, 23)

In [79]:
mov.to_csv('mov.csv', index=False)